*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #080710;
}

.background {
    width: 200px;
    height: 250px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    width: 170px;
    height: 170px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -170px;
    top: -200px;
}

.shape:last-child {
    background: linear-gradient(to right,
            #ff512f,
            #f09819);
    right: -190px;
    bottom: -180px;
}

form {
    height: 450px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 30px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

label {
    display: block; /* to next line */
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 93%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
}

::placeholder {
    opacity: 0.7;
    font-size: 16px;
    font-weight: 300;
    color: #e5e5e5;
}

.btn {
    margin-top: 40px;
    width: 100%;
    background-color: #ffeba7;
    color: #5e6681;
    padding: 15px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
   }

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .go {
    margin-left: 10px;
    margin-right: 10px;
}

.social .ol {
    margin-left: 10px;
    margin-right: 10px;
}

.social-icon {
    width: 33px;
    height: 20px;
    vertical-align: bottom;
}

.social-text {
    cursor: default;
}

.signup {
    margin-top: 10px;
    text-align: center;
}

.signup a {
    color: #3498db;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}